In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("D:/ML/House price prediction/archive/data.csv")
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [4]:
data.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [5]:
data.shape

(4600, 18)

In [6]:
data.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [7]:
data['bathrooms'].unique()

array([1.5 , 2.5 , 2.  , 2.25, 1.  , 1.75, 2.75, 3.  , 3.25, 3.5 , 8.  ,
       4.25, 4.  , 3.75, 5.  , 4.5 , 5.75, 1.25, 6.5 , 4.75, 0.75, 5.25,
       5.5 , 6.25, 0.  , 6.75])

In [8]:
data['bathrooms']=data['bathrooms']*4

In [9]:
data['bathrooms'].unique()

array([ 6., 10.,  8.,  9.,  4.,  7., 11., 12., 13., 14., 32., 17., 16.,
       15., 20., 18., 23.,  5., 26., 19.,  3., 21., 22., 25.,  0., 27.])

In [10]:
data['bathrooms'].astype('int')

0        6
1       10
2        8
3        9
4       10
        ..
4595     7
4596    10
4597    10
4598     8
4599    10
Name: bathrooms, Length: 4600, dtype: int32

In [11]:
data['bathrooms']=data['bathrooms'].astype('int64')

In [12]:
data['bathrooms']

0        6
1       10
2        8
3        9
4       10
        ..
4595     7
4596    10
4597    10
4598     8
4599    10
Name: bathrooms, Length: 4600, dtype: int64

In [13]:
data.dtypes

date              object
price            float64
bedrooms         float64
bathrooms          int64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [14]:
data['bedrooms'].unique()

array([3., 5., 4., 2., 6., 7., 9., 1., 8., 0.])

In [15]:
data['bedrooms']=data['bedrooms'].astype('int64')

In [16]:
data['bedrooms']

0       3
1       5
2       3
3       3
4       4
       ..
4595    3
4596    3
4597    3
4598    4
4599    3
Name: bedrooms, Length: 4600, dtype: int64

In [17]:
data.dtypes

date              object
price            float64
bedrooms           int64
bathrooms          int64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [18]:
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3,6,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5,10,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3,8,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3,9,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4,10,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [19]:
data['country'].value_counts()

USA    4600
Name: country, dtype: int64

In [20]:
data.drop(['country'],axis=1,inplace=True)

In [21]:
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,2014-05-02 00:00:00,313000.0,3,6,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133
1,2014-05-02 00:00:00,2384000.0,5,10,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119
2,2014-05-02 00:00:00,342000.0,3,8,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042
3,2014-05-02 00:00:00,420000.0,3,9,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008
4,2014-05-02 00:00:00,550000.0,4,10,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052

In [22]:
data.drop(['date'],axis=1,inplace=True)

In [23]:
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,313000.0,3,6,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133
1,2384000.0,5,10,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119
2,342000.0,3,8,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042
3,420000.0,3,9,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008
4,550000.0,4,10,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052

In [24]:
data.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
dtype: int64

In [25]:
data.dtypes

price            float64
bedrooms           int64
bathrooms          int64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
dtype: object

In [26]:
from sklearn import preprocessing
labelEncoder=preprocessing.LabelEncoder()

In [27]:
data['street'].unique()

array(['18810 Densmore Ave N', '709 W Blaine St',
       '26206-26214 143rd Ave SE', ..., '759 Ilwaco Pl NE',
       '5148 S Creston St', '18717 SE 258th St'], dtype=object)

In [28]:
data['street']=labelEncoder.fit_transform(data['street'])

In [29]:
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,313000.0,3,6,1340,7912,1.5,0,0,3,1340,0,1955,2005,1522,Shoreline,WA 98133
1,2384000.0,5,10,3650,9050,2.0,0,4,5,3370,280,1921,0,3899,Seattle,WA 98119
2,342000.0,3,8,1930,11947,1.0,0,0,4,1930,0,1966,0,2291,Kent,WA 98042
3,420000.0,3,9,2000,8030,1.0,0,0,4,1000,1000,1963,0,4263,Bellevue,WA 98008
4,550000.0,4,10,1940,10500,1.0,0,0,4,1140,800,1976,1992,4352,Redmond,WA 98052

In [30]:
data.dtypes

price            float64
bedrooms           int64
bathrooms          int64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street             int32
city              object
statezip          object
dtype: object

In [31]:
data['city']=labelEncoder.fit_transform(data['city'])
data['statezip']=labelEncoder.fit_transform(data['statezip'])

In [32]:
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,313000.0,3,6,1340,7912,1.5,0,0,3,1340,0,1955,2005,1522,36,62
1,2384000.0,5,10,3650,9050,2.0,0,4,5,3370,280,1921,0,3899,35,58
2,342000.0,3,8,1930,11947,1.0,0,0,4,1930,0,1966,0,2291,18,26
3,420000.0,3,9,2000,8030,1.0,0,0,4,1000,1000,1963,0,4263,3,7
4,550000.0,4,10,1940,10500,1.0,0,0,4,1140,800,1976,1992,4352,31,31